



html {
  font-size: 15px;
}

@media (min-width: 38em) {
  html {
    font-size: 18px;
  }

  .container {
    max-width: 46rem;
  }
}

@media (min-width: 56em) {
  .container {
    max-width: 52rem;
  }
}